@import url('https://fonts.googleapis.com/css?family=Passion+One|Roboto');

* {
	margin: 0px;
	padding: 0px
}

body{
	font-size: .9rem;
	font-family: 'Roboto', sans-serif;
	color: #111
}

p {
	margin: 0
}

#content{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#col-1{
	background-image: url('https://picsum.photos/1024');
	background-position: center;
	flex: 1 1 0;
	display: flex;
	color: #fff;
	min-height: 100vh;
}

	#col-1 .container{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

		#col-1 a{
			color: #fff;
		}

	.flex-center{
		display: flex;
		justify-content: space-around;
		-ms-align-items: center;
		align-items: center;
	}

	#col-1 .buscador{
		
	}

		#col-1 .buscador .buscador-contenedor{
			border: 1px solid white;
			margin-top: 10px;
			padding: 10px;
			position: absolute;
			z-index: 9
		}

	header h1{
		font-family: 'Passion One', cursive;
	}

	#col-1 .aboutme{
		
	}
		#col-1 .aboutme .social a i{
			transition-duration: .3s
		}

		#col-1 .aboutme .social a:hover i[class="fab fa-facebook-f"]{
			background: #4267b2
		}

			#col-1 .aboutme .social a:hover i[class="fab fa-twitter"]{
				background: #1da1f2
			}

			#col-1 .aboutme .social a:hover i[class="fab fa-linkedin-in"]{
				background: #0077b5
			}

			#col-1 .aboutme .social a:hover i[class="fab fa-instagram"]{
				background: #d10869
			}

			#col-1 .aboutme .social a:hover i[class="fab fa-behance"]{
				background: #0057ff
			}

			#col-1 .aboutme .social a:hover i[class="fab fa-github"]{
				background: #24292e
			}

			#col-1 .aboutme .social a:hover i[class="fab fa-pinterest-p"]{
				background: rgb(189, 8, 28);
			}

		#col-1 .aboutme .social a:hover .fab{
			border-color: transparent;
		}

		#col-1 .aboutme .social .fab{
			border: 1.4px solid #fff;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			margin-left: 3px;
			margin-bottom: 5px;
			font-size: .8rem;
			padding: 0px 2.5px
		}

			#col-1 .aboutme .social .fab:before{
				display: flex;
				justify-content: center;
				line-height: 30px
			}

	#col-1 footer{
		display: flex;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
	}

		#col-1 footer .nav-item{
			border: 1px solid #fff;
			margin-right: 8px;
			padding: 3px;
		}

		#col-1 footer .nav-link{
			background: transparent;
			transition-duration: .3s;
			padding: .2rem .7rem
		}

			#col-1 footer .nav-link:hover{
				background: rgba(0, 0, 0, 1);
			}

		#col-1 footer p {
			margin: 0;
		}

#col-2{
	min-height: 100vh;
	flex: 2 1 0;
}

	.relleno{
		width: 100%;
		height: 10000px;
		background: #c1c1;
	}

@media (min-width: 768px) {
	#content{
		flex-direction: row
	}

	#col-1{
		height: 100vh;
	}

	#col-2{
		overflow-y: scroll;
		height: 100vh;
	}
}