@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

nav{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	background-color:black;
	padding: 10px 0;
}

	nav > a{
		text-decoration: none;
	}

#logo{
	font-family: 'Fredoka One', cursive;
	color: #FFFFFF;
	-webkit-animation: 3s inRotativoLogo 1;
	font-size: 2em;	
}

    @-webkit-keyframes inRotativoLogo{
      0%{
        opacity: 0;
        -webkit-transform: translateX(-400px);
      }
    }

.container{
	margin: 0 auto;
  	width: 85%;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 300px
}

.cajas{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 20px
}

.aparte{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

h3{
	text-align: center;
}

#diseno{
	width: 130px;
	height: 50px;
	background-color: #2CB8F3;
	text-align: center;
	margin: 20px 20px;
	line-height: 1;
	padding-top: 1%;
	color: white;
}

/* =================== */
/* Efecto de Sombra Fija */
/* =================== */
.sombra_fija{
	background-color: green;
	-webkit-transform: translateX(0);
}
	.sombra_fija:before{
		content: "";
		width: 90%;
		height: 10px;
		position: absolute;
		left: 5%;
		top: 100%;
		background: -webkit-radial-gradient(center, ellipse, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 80%); -webkit-transition-duration: 0.4s;
		opacity: 0;
	}

	.sombra_fija:hover{
		-webkit-transform: translateY(-5px);
	}

	.sombra_fija:hover:before{
		-webkit-transform: translateY(5px);
		opacity: 1;
	}

/* =================== */
/* Efecto de Doblés de página */
/* =================== */
.hoja_page{
	background-color: red;
	-webkit-transform: translateX(0);
}
	.hoja_page:before{
		content: "";
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 0;
		height: 0;
		background: -webkit-linear-gradient(45deg, white 45%, #aaa 50%, #ccc 60%, white);
		-webkit-transition-duration: 0.4s;
	}

	.hoja_page:hover:before{
		width: 35px;
		height: 35px;
	}

/* =================== */
/* Efecto de flecha*/
/* =================== */
.flecha{
	-webkit-transform: translateX(0);
}
	.flecha:before{
		content: "";
		position: absolute;
		left: 0;
		top: 22%;
		border-style: solid;
		border-width: 15px 15px 15px 0px;
		border-color: transparent #2CB8F3 transparent transparent;
		-webkit-transition-duration: 0.4s;
		z-index: -1000;
	}

	.flecha:hover:before{
		left: -14px
	}

/* =================== */
/* Efecto de flecha Saltarina*/
/* =================== */
.flecha_saltarina{
	-webkit-transform: translateX(0);
}
	.flecha_saltarina:before{
		content: "";
		position: absolute;
		left: 0;
		top: 22%;
		border-style: solid;
		border-width: 15px 15px 15px 0px;
		border-color: transparent #2CB8F3 transparent transparent;
		-webkit-transition-duration: 0.4s;
		z-index: -1000;
	}

	.flecha_saltarina:hover:before{
		-webkit-animation: 1.5s flecha_salta infinite;
	}

		@-webkit-keyframes flecha_salta {
			25%{
				left: -15px;
				-webkit-transform: rotate(0deg);
			}
			65%{
				left: -15px;
				-webkit-transform: rotate(180deg);
			}
			90%{
				-webkit-transform: rotate(180deg);
			}
		}

/* =================== */
/* Efecto Difuminado*/
/* =================== */
.difuminada{
	background-color: orange;
	box-shadow: 0px 0px 1px rgba(0,0,0,1);
	-webkit-transition-duration: 0.4s;
}
	.difuminada:hover{
		box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
	}

/* =================== */
/* Efecto Difuminado Radial*/
/* =================== */
.difuminada_radial{
	background-color: black;
	position: relative;
	box-shadow: 0px 0px 1px black;
}
	.difuminada_radial:before, .difuminada_radial:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 10px;
		left: 0;
		-webkit-transition-duration: 0.4s;
		opacity: 0;
	}

	.difuminada_radial:before{
		bottom: 100%;
		background: radial-gradient(ellipse at 50% 100%, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%);
	}

	.difuminada_radial:after{
		top: 100%;
		background: radial-gradient(ellipse at 50% -50%, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%);
	}

	.difuminada_radial:hover:before,.difuminada_radial:hover:after{
		opacity: 1;
	}

/* =================== */
/* Efecto Borde interno*/
/* =================== */
.borde_interno{
	background-color: #0042FF;
	position: relative;
}

	.borde_interno:before{
		content: "";
		position: absolute;
		border: 3px solid white;
		top: 5px;
		bottom: 5px;
		left: 5px;
		right: 5px;
		-webkit-transition-duration: 0.4s;
		opacity: 0;
	}

	.borde_interno:hover:before{
		opacity: 1
	}

/* =================== */
/* Efecto Expasión de Borde*/
/* =================== */
.expansion_borde{
	background-color: #AD3B9E;
	position: relative;
}

	.expansion_borde:before{
		content: "";
		position: absolute;
		border: 4px solid black;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		-webkit-transition-duration: 0.4s;
	}

	.expansion_borde:hover:before{
		top: -10px;
		bottom: -10px;
		left: -10px;
		right: -10px;
	}

/* =================== */
/* Efecto Atracción de borde*/
/* =================== */
.atraccion_borde{
	background-color: #AD3B9E;
	position: relative;
}

	.atraccion_borde:before{
		content: "";
		position: absolute;
		border: 4px solid black;
		top: -16px;
		bottom: -16px;
		left: -16px;
		right: -16px;
		-webkit-transition-duration: 0.4s;
		opacity: 0
	}

	.atraccion_borde:hover:before{
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1
	}

/* =================== */
/* Efecto Descolgado*/
/* =================== */
.descolgado{
	-webkit-animation: 1s descolgado 1;
	-webkit-transform-origin: top left;
}

	@-webkit-keyframes descolgado{
		20%, 60%{
			-webkit-transform: rotate(80deg);
		}
		40%{
			-webkit-transform: rotate(60deg);
		}
		80%{
			-webkit-transform: rotate(60deg);
			opacity: 1;
		}
		100%{
			-webkit-transform: translateY(400px);
			opacity: 0
		}
	}

/* =================== */
/* Efecto Entrada Rotativa*/
/* =================== */
.inRotativo{
	-webkit-animation: 1s inRotativo 1;
}

	@-webkit-keyframes inRotativo{
		0%{
			opacity: 0;
			transform: translateX(-100%) rotate(-360deg);
		}
	}

/* =================== */
/* Efecto Salida Rotativa*/
/* =================== */
.onRotativo{
	-webkit-animation: 1s onRotativo 1;
}

	@-webkit-keyframes onRotativo{
		100%{
			transform: translateX(100%) rotate(360deg);
			opacity: 0;
		}
	}

/* =================== */
/* Efecto de Cortina*/
/* =================== */
.cortina{
	width: 130px;
	height: 50px;
	background-color: #2CB8F3;
	text-align: center;
	margin-right: 10px;
	position: relative;
	overflow: hidden;
}	

.tapa{
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	top: 0;
	left: 130px;
	z-index: 10;
	-webkit-animation: 1s tapa 1;
}

	@-webkit-keyframes tapa{
		0%{
			left: 0;
		}
	}

.giroX {
	-webkit-animation: 1.5s giroX 1;
}

	@-webkit-keyframes giroX{
		0%{
			opacity: 0.5;
			-webkit-transform: perspective(200px) rotateX(90deg);
		}
		40%{
			-webkit-transform: perspective(200px) rotateX(-20deg);
		}
		70%{
			-webkit-transform: perspective(200px) rotateX(20deg);
		}
	}

.giroOut {
	-webkit-animation: 1.5s giroOut 1;
}

	@-webkit-keyframes giroOut{
		100%{
			opacity: 0;
			-webkit-transform: perspective(100px) rotateY(90deg);
		}
	}

.giroZ {
	-webkit-animation: 1s giroZ 1;
}

	@-webkit-keyframes giroZ{
		40%{
			-webkit-transform: perspective(300px) translateZ(120px) rotateY(170deg);
		}
		50%{
			-webkit-transform: perspective(300px) translateZ(120px) rotateY(190deg);
		}
		80%{
			-webkit-transform: perspective(300px) translateZ(0px) rotateY(360deg);
		}
		100%{
			-webkit-transform: perspective(300px) rotateY(360deg);
		}
	}

/* =================== */
/* Efecto Caja en 3D */
/* =================== */
.box{
	margin: 20px;
	width: 200px;
	height: 200px;
	position: relative;
	display: inline-block;
	-webkit-transition-duration: 0.5s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: left center;

}
	
	.box:hover{
		-webkit-transform: perspective(800px) rotateY(-80deg);
	}

		.box:hover .front{
			opacity: 1;
		}

	.box > div {
		border: 2px solid black;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.front{
		opacity: 0.75;
		box-shadow: inset 0px 2px 20px black;
		background: url("http://pipsum.com/200x200.jpg");
	}

	.back{
		background-color: white;
		-webkit-transform: translateZ(-100px) rotateY(90deg);
		left: 100px;
	}

		.back h1{
			margin: 0;
			width: 90%;
			margin-left: 5%;
			border-bottom: 3px solid #BC3636;
		}

		.back p{
			width: 90%;
			margin-left: 5%
		}

/* =================== */
/* EfectoMundo girando */
/* =================== */
.mundo{
	width: 92px;
	height: 92px;
	margin: 0 20px;
	background: url("mundo.jpg");
	border-radius: 50%;
	-webkit-animation: rotacion 20s infinite linear;
	box-shadow: 0px 5px 15px #888
}

	@-webkit-keyframes rotacion {
		0%{
			background-position: 0 0;
		}
		100%{
			background-position: -332px 0;
		}
	}

.sombra{
	position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: -webkit-radial-gradient(at top right, transparent 60%, #262020);
    background: radial-gradient(at top right, transparent 60%, #262020);
}

/* =================== */
/* Efecto Caja en 3D */
/* =================== */
.cuboRubyk{
	perspective: 1000px;
	perspective-origin: 50% 50%
}

.cubo{
	transform-style: preserve-3d;
	transform: rotateY(-30deg);
	margin: 50px 100px;
	animation: giro 20s infinite;
}

	@-webkit-keyframes giro {
		0%{
			transform: rotateX(-45deg) rotateY(0deg);
		}
		50%{
			transform: rotateX(45deg) rotateY(360deg);
		}
		100%{
			transform: rotateX(-45deg) rotateY(720deg);
		}
	}

	.cubo, .cubo > div{		
		height: 120px;
		width: 120px;
	}

.cara{
	position: absolute;
	border: 1px solid black;
}

	.cubo .cara:nth-child(1){
		background-color: red;
		transform: translateZ(60px);
	}

	.cubo .cara:nth-child(2){
		background-color: green;
		transform: translateZ(-60px);
	}

	.cubo .cara:nth-child(3){
		background-color: yellow;
		transform: translateX(60px) rotateY(-90deg) ;
	}

	.cubo .cara:nth-child(4){
		background-color: orange;
		transform: translateX(-60px) rotateY(90deg) ;
	}

	.cubo .cara:nth-child(5){
		background-color: blue;
		transform: translateY(-60px) rotateX(90deg) ;
	}

	.cubo .cara:nth-child(6){
		background-color: blue;
		transform: translateY(60px) rotateX(90deg) ;
	}

/* =================== */
/* Efecto Pirámide 3D */
/* =================== */
.piramide{
	position: relative;
	margin: 50px 100px;
	height: 500px;
	width: 100px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 116px 200px 116px;
	-webkit-transform: rotateY(30deg);
	-webkit-animation: giro-piramide 10s infinite linear;
}

.piramide > div{
	position: absolute;
	border-style: solid;
	border-width: 200px 0px 200px 346px;
	-webkit-transform-origin: 0 0;

}

	.piramide > div:nth-child(1){
		border-color: transparent transparent transparent rgba(255,255,0);
		transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px)
					translateY(-200px) translateZ(326px);
	}

	.piramide > div:nth-child(2){
		border-color: transparent transparent transparent rgba(255,0,0);
		transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
	}

	.piramide > div:nth-child(3){
		border-color: transparent transparent transparent rgba(0,255,0);
		transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
	}

	.piramide > div:nth-child(4){
		border-color: transparent transparent transparent rgba(0,0,255);
		transform: rotateX(60deg) rotateY(19.5deg);
	}

	@-webkit-keyframes giro-piramide {
		from{
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		to{
			transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
		}
	}

/* =================== */
  /* Efecto Reloj 3D */
/* =================== */
.relojContent{
	text-align: center;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: perspective(6000px);
	margin-bottom: 50px 
}

.rueda{
	height: 150px;
	width: 150px;
	position: absolute;
	top: 0px;
}

.card {
	height: 150px;
	width: 150px;
	border-radius: 5px;
	border: 1px solid white;
	font-size: 5em;
	font-weight: bolder;
	line-height: 150px;
	color: white;
	background: rgba(10,10,10,0.9);
	position: absolute;
}

	.c0{
		-webkit-transform: rotateX(0deg) translateZ(240px);
	}

	.c1{
		-webkit-transform: rotateX(36deg) translateZ(240px);
	}

	.c2{
		-webkit-transform: rotateX(72deg) translateZ(240px);
	}

	.c3{
		-webkit-transform: rotateX(108deg) translateZ(240px);
	}

	.c4{
		-webkit-transform: rotateX(144deg) translateZ(240px);
	}

	.c5{
		-webkit-transform: rotateX(180deg) translateZ(240px);
	}

	.c6{
		-webkit-transform: rotateX(216deg) translateZ(240px);
	}

	.c7{
		-webkit-transform: rotateX(252deg) translateZ(240px);
	}

	.c8{
		-webkit-transform: rotateX(288deg) translateZ(240px);
	}

	.c9{
		-webkit-transform: rotateX(324deg) translateZ(240px);
	}

#hours1{
	left: 0
}

#hours2{
	left: 160px
}

#minutes1{
	left: 440px
}

#minutes2{
	left: 600px
}

#seconds1{
	left: 880px
}

#seconds2{
	left: 1040px;
	-webkit-animation: giroTotal 10s infinite linear;
	-webkit-transform-style: preserve-3d;
	transform-origin: center center
}

	@-webkit-keyframes giroTotal{
		0%, 8%{
			transform: rotateX(0deg);
		}
		10%, 18%{
			transform: rotateX(-36deg);
		}
		20%, 28%{
			transform: rotateX(-72deg);
		}
		30%, 38%{
			transform: rotateX(-108deg);
		}
		40%, 48%{
			transform: rotateX(-144deg);
		}
		50%, 58%{
			transform: rotateX(-180deg);
		}
		60%, 68%{
			transform: rotateX(-216deg);
		}
		70%, 78%{
			transform: rotateX(-252deg);
		}
		80%, 88%{
			transform: rotateX(-288deg);
		}
		90%, 98%{
			transform: rotateX(-324deg);
		}
		100%{
			transform: rotateX(-360deg);
		}
	}

	@-webkit-keyframes giroMedio{
		0%, 15%{
			transform: rotateX(0deg);
		}
		16.6%, 32%{
			transform: rotateX(-36deg);
		}
		33.3%, 48%{
			transform: rotateX(-72deg);
		}
		50%, 65%{
			transform: rotateX(-108deg);
		}
		66.6%, 82%{
			transform: rotateX(-144deg);
		}
		83.3%, 99%{
			transform: rotateX(-180deg);
		}
		60%, 68%{
			transform: rotateX(-216deg);
		}
		70%, 78%{
			transform: rotateX(-252deg);
		}
		80%, 88%{
			transform: rotateX(-288deg);
		}
		90%, 98%{
			transform: rotateX(-324deg);
		}
		100%{
			transform: rotateX(-360deg);
		}
	}