<link rel="canonical" href="http://www.juanrojas.info" />
<meta name="title" content="Juan Rojas || Desarrollador web" />
<meta property="og:title" content="Juan Rojas || Desarrollador web" />
<meta property="og:site_name" content="Juan Rojas || Desarrollador web" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.juanrojas.info" />
<link rel="image_src" href="http://www.juanrojas.info/images/og-image.jpg" />
<meta property="og:image" content="http://www.juanrojas.info/images/og-image.jpg" />
<meta property="og:image:url" content="http://www.juanrojas.info/images/og-image.jpg" />
<meta property="og:image:secure_url" content="http://www.juanrojas.info/images/og-image.jpg" />
<meta name="abstract" content="Portafolio web donde muestro los trabajos desarrollados en el tiempo de mi carrera como Diseñador Gráfico y Desarrollador Web." />
<meta name="description" content="Portafolio web donde muestro los trabajos desarrollados en el tiempo de mi carrera como Diseñador Gráfico y Desarrollador Web." />
<meta property="og:description" content="Portafolio web donde muestro los trabajos desarrollados en el tiempo de mi carrera como Diseñador Gráfico y Desarrollador Web." />
<meta name="keywords" content="Diseño, gráfico, desarrollador, web, sitios, HTML, PHP, SQL, javascript, programación" />
<meta name="theme-color" content="#000000" />

<link rel="icon" href="images/favicon.png" type="image/png" />

<!-- ESTILOS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/custom.css">

<!-- LIGHTBOX -->
<script src="js/responsive.ie10mobilefix.min.js"></script>

<!-- <script src=''></script> -->
<!--[if IE 8]>     
<script src="js/jquery-1.11.0.min.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="js/jquery-3.3.1.min.js"></script>
<!--<![endif]-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121099735-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121099735-2');
</script>
