<nav class="navbar">
    <span id="toggle" class="d-lg-none animated fadeInLeft">
        <i class="fas fa-bars"></i>
    </span>
    <span id="toggleClose" class="d-none animated fadeInLeft">
        <i class="fas fa-times"></i>
    </span>
    <div class="h4 mb-0 fontLuckiest text-light d-lg-none">JuanRojas</div>
    <figure class="mb-0 d-none">
        <img src="images/logo.svg" alt="imagen" class="rounded-circle" height="40px">
    </figure>
    <div id="menu" class="d-none d-lg-block bg-dark text-light animated">
        <div class="container">
            <div class="d-flex flex-column align-items-center">
                <figure class="mt-5">
                    <img src="images/logo.svg" alt="imagen" class="rounded-circle">
                </figure>
                <h1 class="h4 mb-0 fontLuckiest">JuanRojas</h1>
                <h2 class="h5 fontConsola">Desarrollador web y Diseñador Gráfico</h2>
            </div>
            <ul class="nav flex-column mt-5">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sobremi">sobremi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="proyectos">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>