    <script src="js/wow.min.js"></script>
    <script src="js/responsive.min.js"></script>
    <!-- <script src="js/smooth-scroll.min.js"></script> -->
    <script src="js/bootstrap/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>