/****************************/
/********** FONTS **********/
/**************************/

@font-face {font-family: 'Aller';src: url('fonts/Aller/Aller.woff') format('woff'), url('fonts/Aller/Aller.ttf') format('truetype'), url('fonts/Aller/Aller.svg#Aller') format('svg'), url('fonts/Aller/Aller.eot'), url('fonts/Aller/Aller.woff2') format('woff2'), url('fonts/Aller/Aller.eot?#iefix') format('embedded-opentype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Aldo';src: url('fonts/Aldo/Aldo.woff') format('woff'), url('fonts/Aldo/Aldo.ttf') format('truetype'), url('fonts/Aldo/Aldo.svg#Aldo') format('svg'), url('fonts/Aldo/Aldo.eot'), url('fonts/Aldo/Aldo.woff2') format('woff2'), url('fonts/Aldo/Aldo.eot?#iefix') format('embedded-opentype');font-weight: normal;font-style: normal;}

/****************************/

/* Azul: #2196F3
	Naranja: #FF9800 */

/********* CUSTOM **********/
/**************************/

body{
	font-family: 'Aller', sans-serif;
	font-size: 16px;
	background: #233D58;
	position: relative;
	color: #212121
}

header{
	width: 100%;
	height: 45px;
	color: #233D58;
	position: relative;
	z-index: 10
}

header h1 {
	display: none
}

header nav .ioMenuMovil{
	height: 45px;
	width: 45px;
	cursor: pointer;
	line-height: 44px;
	margin: 0;
	padding: 0 0 0 15px;
	line-height: 45px;
}

	header nav .ioMenuMovil i:before{
		font-size: 20px
	}

	.fa-bars{
		color: white
	}

	.fa-times{
		color: black
	}

header nav #card_menu{
	position: absolute;
	width: 230px;
	background: white;
	top: 0;
	left: 0;
	z-index: 999;
	padding-bottom: 50px;
	box-shadow: 5px 0 20px rgba(0, 0, 0, 0.5);
}

		header nav #card_menu #logo_menu{
			width: 70%;
			height: 150px;
			margin: 30px 0px;
			margin-left: 15%;
			text-align: center;
		}

		header nav #card_menu #logo_menu i:before{
			font-size: 150px;
			color: black
		}

	header nav #card_menu ul{
		font-family: 'Aller', sans-serif;
	}

		header nav #card_menu ul li{
			list-style-type: none;
			line-height: 50px;
			font-size: 1.2em;
		}

			header nav #card_menu ul li a{
				color: black;
				text-decoration: none;
			}

				header nav #card_menu ul li a:hover{
					color: #2196F3
				}

header #prev_section, header #next_section{
	width: 45px;
	height: 45px;
	cursor: pointer;
	position: absolute;
	top: 0;
	text-align: center;
}

	header #prev_section{
		margin-right: 20px;
		right: 30px
	}

	header #next_section{
		right: 0px
	}

	header #prev_section i, header #next_section i{
		width: 100%;
	}

		header #prev_section i:before, header #next_section i:before{
			font-size: 25px;
			line-height: 45px;
			color: white
		}

		header #prev_section:hover, header #next_section:hover{
			background: #2196F3;
			color: black;
		}


/****************************/
/********* SLIDER  *********/
/**************************/

#slider{
	width: 100%;
	position: relative;
}

	#slider section.slide{
		position: absolute;
		width: 100%;
		top: 0;
		left: 0
	}

		#slider #home{
			font-family: 'Aller';
			position: relative;
			text-align: center;
		}

			#slider #home .mainanimation{
				width: 80%;
				margin-left: 10%;
				min-height: 480px;
				position: absolute;
			}

			#slider #home .mainlogo{
				position: relative;
				min-height: 430px;
				width: 20%;
				margin-left: 17%;
			}

				#slider #home .mainlogo h2{
					font-size: 1.2em;
					padding-top: 80px;
					color: white;
					font-weight: lighter;
				}

				#slider #home .mainlogo strong{
					font-size: 2.5em;
					font-family: 'Aldo';
					display: block;
				}

				#slider #home .mainlogo figure{
					width: 85%;
					margin: 0;
					margin-left: 5%;
					margin-bottom: 30px
				}

					#slider #home .mainlogo i:before{
						font-size: 180px;
						color: white;
					}

			#slider #home .mainbuttons{
				width: 100%;
			}

				#slider #home .mainbuttons > * {
					display: inline-block;
					width: 45%;
					margin: 6px 5px;
					padding: 15px 5px;
				}

				#slider #home .mainbuttons a{
					color: white;
					text-decoration: none;
				}

				#slider #home .mainbuttons .contactarme{
					background: #FF9800;
					cursor: pointer;
				}

				#slider #home .mainbuttons .descargarCv{
					background: #2196F3;
				}

		#slider #sobre{
			color: #212121;
			padding-bottom: 135px
		}

			#slider #sobre figure{
				width: 100%;
				margin: 0;
			}

				#slider #sobre figure img{
					height: 100%;
				}

			#slider #sobre #aboutme{
				position: relative;
				margin-top: -85px;
				padding: 20px;
			}

			#aboutme_content{
				background: white;
				padding-bottom: 10px;
				box-shadow: 0 0 8px rgba(33,33,33,0.5)
			}

				#aboutme_content .aboutme_title{
					width: 100px;
					background: #2196F3;
					color: white;
					padding: 15px;
					padding-left: 23px;
					padding-right: 0;
					margin-bottom: 12px;
					position: relative;
					top: -3px;
					left: -3px;
					text-transform: uppercase;
					box-shadow: 0 0 2px rgba(33,33,33,0.5)
				}

					#aboutme_content .aboutme_title:before{
						content: "";
						position: absolute;
						left: -8px;
						top: 33px;
						border-style: solid;
						border-width: 15px 10px 0 0;
						border-color: transparent #2196F3 transparent transparent;
					}

					#aboutme_content .aboutme_title:after{
						content: "";
						position: absolute;
						left: -8px;
						top: 48px;
						border-style: solid;
						border-width: 0 10px 10px 0;
						border-color: transparent #1864A1 transparent transparent;
					}

					#aboutme_content hr{
						opacity: 0.2
					}

				#aboutme_content p{
					background: white;
					padding: 0 20px
				}

			#slider #sobre #design_logo{
    			margin-top: 2%;
			}

				#design_logo .card{
					position: relative;
					display: inline-block;
					margin: 10px;
					margin-top: 20px;
					min-width: 250px;
					max-width: 250px;
					min-height: 250px;
					max-height: 250px;
					overflow: hidden;
					box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
				}

					#design_logo .card > div {
					    position: absolute;
					    width: 100%;
					    height: 100%;
					}

					#design_logo .card .card_title{
						background: white;
						top: 194px;
						transition-duration: 0.5s
					}

						.sube{
							top: 0 !important;
						}

						#design_logo .card .card_title .title{
							width: 100%;
							-webkit-border-bottom: 1px solid #CDCDCD;
							-moz-border-bottom: 1px solid #CDCDCD;
							-ms-border-bottom: 1px solid #CDCDCD;
							-o-border-bottom: 1px solid #CDCDCD;
							border-bottom: 1px solid #CDCDCD;
						}	

							#design_logo .card .card_title .title p{
								padding: 10px;
								margin: 0;
								width: 58%;
								display: inline-block;
							}

					#design_logo .card .card_title span{
						color: #2196F3		
					}

					#design_logo .card .card_title .body p{
						margin: 0;
						padding: 10px
					}

				.toggle-menu, .toggle-menu1,
				.toggle-menu2, .toggle-menu3 {
					position: absolute;
					top: 18px;
					right: 12px;
					width: 28px;
					height: 28px;
				}

				.toggle-menu span:after, .toggle-menu span:before,
				.toggle-menu1 span:after, .toggle-menu1 span:before,
				.toggle-menu2 span:after, .toggle-menu2 span:before,
				.toggle-menu3 span:after, .toggle-menu3 span:before {
				  content: "";
				  position: absolute;
				  left: 0;
				  top: 9px;
				  transform-origin:center center;
				}

				.toggle-menu span:after,
				.toggle-menu1 span:after,
				.toggle-menu2 span:after,
				.toggle-menu3 span:after {
				  transform: rotate(90deg)
				}

				.toggle-menu span,
				.toggle-menu1 span,
				.toggle-menu2 span,
				.toggle-menu3 span {
				  position: relative;
				  display: block;
				}

				.toggle-menu span:after, .toggle-menu span:before,
				.toggle-menu1 span:after, .toggle-menu1 span:before,
				.toggle-menu2 span:after, .toggle-menu2 span:before,
				.toggle-menu3 span:after, .toggle-menu3 span:before {
				  width: 100%;
				  height: 2px;
				  background-color: #2196F3;
				  -webkit-transition: all .3s;
				  transition: all .5s;
				  -webkit-backface-visibility: hidden;
				  backface-visibility: hidden;
				  -webkit-border-radius: 2px;
				  border-radius: 2px;
				}

				.toggle-menu.on span:before,
				.toggle-menu1.on span:before,
				.toggle-menu2.on span:before,
				.toggle-menu3.on span:before {
				  -webkit-transform: rotate(45deg) translate(0, 0);
				  -ms-transform: rotate(45deg) translate(0, 0);
				  transform: rotate(45deg) translate(0, 0);
				}

				.toggle-menu.on span:after,
				.toggle-menu1.on span:after,
				.toggle-menu2.on span:after,
				.toggle-menu3.on span:after {
				  -webkit-transform: rotate(-45deg) translate(0, 0);
				  -ms-transform: rotate(-45deg) translate(0, 0);
				  transform: rotate(-45deg) translate(0, 0);
				}

		#slider #skills{
			color: white
		}

		#slider #porta{
			color: white
		}

		#slider #blog{
			color: white
		}

/****************************/
/****** CONTACT FORM  ******/
/**************************/

#contact_form{
	position: absolute;
	right: 0;
	top: 0;
	width: 280px;
	background: white;
	z-index: 999;
	padding-bottom: 30px;
	box-shadow: -5px 0 20px rgba(0, 0, 0, 0.5)
}

	#contact_form #close_form i:before{
		position: absolute;
		top: 16px;
		color: white;
		left: 16px;
		width: 30px;
		height: 25px;
		cursor: pointer;
	}
	
	#contact_form #logo_form i:before{
		color: white;
		font-size: 8em;
		vertical-align: middle;
		line-height: 200px
	}

	#contact_form figure{
		margin: 0;
		padding: 0;
		height: 200px;
		width: 100%;
		text-align: center;
		background: #2196F3;
	}

	#contact_form p{
		padding-left: 20px
	}

		#contact_form p span{
			-webkit-border-bottom: 2px solid #2196F3;
			-moz-border-bottom: 2px solid #2196F3;
			-ms-border-bottom: 2px solid #2196F3;
			-o-border-bottom: 2px solid #2196F3;
			border-bottom: 2px solid #2196F3;
		}

	#contact_form form{
		padding: 0 20px
	}

	#contact_form form input,#contact_form form textarea {
		display: block;
		width: 100%;
		margin: 35px 0;
		border: none;
		border-bottom: 2px solid #2196F3;
		padding: 5px 0 5px 5px;
	}

		#contact_form form textarea{
			height: 80px
		}

	#contact_form form [type="submit"]{
		font-size: 15pt;
		cursor: pointer;
		background: #FF9800;
		color: white;
		padding: 10px 0;
		border-bottom: 5px solid #C67519;
		-webkit-border-radius: 0.3em;
		-moz-border-radius: 0.3em;
		-ms-border-radius: 0.3em;
		-o-border-radius: 0.3em;
		border-radius: 0.3em;
		transition-duration: 0.2s
	}

		#contact_form form [type="submit"]:hover{
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
			border-bottom: 0px solid #C67519;
			transform: translateY(5px);
				-webkit-transform: translateY(5px);
				-moz-transform: translateY(5px);
				-o-transform: translateY(5px);
		}

		#contact_form form [type="submit"]:active{
			background: #C67519;
			box-shadow: 0 0 10px rgba(198,117,25,0.2);
			
		}

#contact_button{
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #FF9800;
	border-radius: 50%;
	bottom: 96px;
	height: 50px;
	position: fixed;
	right: 15px;
	width: 50px;
	z-index: 80;
}

	#contact_button:hover{
		box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
		color: white;
		cursor: pointer;
	}

	#contact_button a i{
		color: white;
		line-height: 50px;
		text-align: center;
		width: 100%;
		height: 100%;
	}

	#contact_button a i:before{;
		font-size: 1.5em;

	}

#contact_enviado{
	position: absolute;
    top: 0;
    right: 0;
    width: 280px;
    height: 100vh;
    background: orange;
    z-index: 1000
}

	#contact_enviado .fa-check{
		position: absolute;
	    top: 50%;
	    color: white;
	    font-size: 5em;
	    margin-left: -0.5em;
	    padding-left: 50%;
	}

	#contact_enviado .fa-times{
	    width: 30px;
	    position: absolute;
	    top: 2%;
	    padding-left: 10px;
	    height: 30px;
	    color: white;
	}


/****************************/
/********* FOOTER  *********/
/**************************/

footer{
	width: 100%;
	background: #212121;
	color: white;
	text-align: center;
	position: fixed;
	-webkit-transition-duration: 0.5s
}

	footer:hover{
		bottom: 0
	}

	footer:after{
		font-family: Font Awesome\ 5 Free;
		content:'\f106';
		font-weight: 900;
		position: absolute;
		top: -17px;
		left: 50%;
		margin-left: -8px;
		font-size: 27px;
	    -webkit-transition-duration: 0.3s;
	}

	footer:before{
		content: '';
		position: absolute;
		top: -25px;
		left: 50%;
		margin-left: -25px;
		background: #212121;
		width: 50px;
	    height: 50px;
	    border-radius: 50%;
	    -webkit-transition-duration: 0.3s
	}

		footer:hover:after{
			color: #212121;
			transform: rotate(180deg)  translateX(1px)
		}

		footer:hover:before{
			background: white;
			box-shadow: 0 0 30px #212121
		}

	footer p{
		font-size: 0.8em;
		font-family: 'Aller';
		padding: 10px;
		padding-top: 0px
	}

	footer a{
		color: white;
		text-decoration: none;
	}

		footer a:hover{
			color: #2196F3
		}

#social{
	padding: 20px;
	padding-top: 35px;
	padding-bottom: 0px
}

	#social a{
		color: white;
		margin: 0 5px
	}

	#social i:before{
		font-size: 1.3em;
		cursor: pointer;
	}

		#social i:hover:before{
			color: #2196F3
		}

/****************************/
/******** PARTICLES ********/
/**************************/

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


/****************************/
/******* RESPONSIVE  *******/
/**************************/

@media (min-width: 320px){
	#slider #home .mainlogo{
		width: 270px;
		left: 50%;
		margin-left: -135px
	}

		#slider #home{
			margin-top: -80px;
			padding-bottom: 150px
		}

	#slider #home .mainbuttons > *{
		width: 200px;
	}

	#slider #sobre #design_logo{
		width: 95%;
		margin-left: 5%;
	}

	.collapse{
		display: none;
	}

	.expand {
		display: initial;
	}

	footer{
		bottom: 0	
	}

	#slider #sobre figure img{
		width: 100%;
	}
	
}

@media (min-width: 768px){

	header{
		height: 50px;
		text-align: center;
	}

	header h1{
		font-family: 'Aldo', sans-serif;
		display: inline-block;
		width: 16%;
		height: 50px;
		margin: 0;
		line-height: 50px;
		min-width: 128px;
	}

		header h1 > * {
			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
			color: white;
			font-size: 0.8em;
			margin: 0 3px
		}

		header figure{
			height: 40px;
			width: 40px;
			margin: 0
		}

			header figure img{
				width: 100%
			}

	header nav{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 75%;
	}

		header nav #showMovil, header nav #hideMovil{
			display: none;
		}

		header nav #card_menu{
			display: inline-block;
			border: none;
			background: none;
			position: relative;
			top: 0;
			width: 100%;
			text-align: right;
			padding-bottom: 0;
			box-shadow: none;
		}

			header nav #card_menu figure{
				display: none;
			}

			header nav ul{
				padding: 0;
				margin: -11px 0 0 0;
			}

				header nav ul li{
					display: inline-block;
					width: 85px;
					height: 50px;
					text-align: center;
					transition-duration: 0.2s;
				}

				header nav ul li a{
					color: white !important;
					
				}

				header nav ul li:hover{
					box-shadow: inset 0 -4px 0 white
				}

	
	header #prev_section, header #next_section{
		background: white;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		z-index: 999;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	}
	
		header #prev_section i:before, header #next_section i:before{
			color: black
		}

			header #prev_section i:hover:before, header #next_section i:hover:before{
				color: white;
			}

		header #prev_section:hover, header #next_section:hover{
			box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
		}

	header #prev_section{
		top: 70px;
		margin-right: 5px;
	}

	header #next_section{
		top: 120px;
		right: 35px
	}

	#contact_button{
		bottom: 83px;
		right: 25px;
	}
	
	#contact_form form textarea{
		height: 100px
	}


	/****************************/
	/********** SLIDER *********/
	/**************************/

	#slider #home{
		margin-top: 0;
	}

	#slider #sobre #design_logo{
		width: 85%;
		margin-left: 10%;
	}

		#slider #sobre #aboutme {
		    margin-top: -200px;
		}
}

@media (min-width: 1024px){
	footer{
		bottom: -87px;
	}

	/****************************/
	/********** SLIDER *********/
	/**************************/

	#slider #sobre {
	    padding-top: 30px;
	}

	#slider #sobre figure{
			width: 20%;
		    height: 297px;
		    display: inline-block;
			overflow: hidden;
		}
			
			#slider #sobre figure img {
			    height: 100%;
			}
		

		#slider #sobre #content_aboutme{
			position: relative;
		    left: 50%;
    		margin-left: -46%;
		}

		#slider #sobre #aboutme{
			width: 43%;
		    margin-top: 0;
		    padding: 0;
		    display: inline-block;
		    position: absolute;
		}

}

@media (min-width: 1440px){

	/****************************/
	/********** SLIDER *********/
	/**************************/

	#aboutme_content hr {
	    margin-bottom: 55px;
	}

	#aboutme_content {
		padding-bottom: 24px;
	}
}