<nav class="navbar navbar-expand bg-dark text-light fixed-top p-0">
    <div class="container-fluid">
        <div class="navbar-left">
            <a class="navbar-brand" href="index"></a>
        </div>
        <div class="navbar-right d-flex align-items-center">
            <div class="page-title">Inicio</div>
            <div class="float-right bToggle" id="cMenu">
                <i class="fas fa-bars" ></i>
            </div>
            <!-- <ul class="nav navbar-nav float-right user-menu">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle avatar" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="images/avatar.png" alt="Avatar">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <div class="user-info">
                            <div class="user-name">Juan Rojas</div>
                        </div>
                        <a class="dropdown-item" href="#">Configuración</a>
                        <a class="dropdown-item" href="#">Cerrar sesión</a>
                    </div>
                </li>
            </ul> -->
        </div>
    </div>
</nav>
<div class="sidebar-left" id="sL">
    <div class="sidebar-wrapper">
        <ul class="accordion" id="sidebarLeftCollapse">
            <li class="pt-4">
                <a href="index" class=""><i class="fas fa-home"></i>Inicio</a>
            </li>
            <li class="parent">
                <a data-toggle="collapse" data-target="#collapseOne"><i class="fas fa-file"></i>Contenido</a>
                <ul id="collapseOne" class="collapse child" data-parent="#sidebarLeftCollapse">
                    <li><a href="node">Crear atículo</a></li>
                    <li><a href="">Dos</a></li>
                </ul>
            </li>
            <li class="parent">
                <a data-toggle="collapse" data-target="#collapseTwo"><i class="fas fa-user"></i>Usuario</a>
                <ul id="collapseTwo" class="collapse child" data-parent="#sidebarLeftCollapse">
                    <li><a href="">Configuración</a></li>
                    <li><a href="../core/cerrar">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>