html {
  font-size: 15px; }

body {
  color: #fff; }

#bienvenidos {
  background: url("../images/fondo-mobile.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

nav {
  background: rgba(0, 0, 0, 0.6); }

nav a {
  font-weight: bolder; }

.navbar-dark .navbar-toggler {
  font-size: 1.5rem;
  color: #fff;
  border-color: transparent; }

.navbar-nav .nav-item {
  padding: 0.1rem 0; }

.navbar-nav .nav-link {
  color: #fff !important;
  text-align: center;
  font-weight: 500; }

.navbar-nav .active > .nav-link, .navbar-nav .nav-link:hover {
  background: #F05F40; }

.btn-orange {
  color: #fff;
  background-color: #F05F40;
  border-color: #F05F40;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }

.btn-orange:hover {
  background-color: #F26D52;
  border-color: #F26D52; }

a:hover {
  color: #fff; }

.quienes-somos {
  background: #F05F40; }

.nuestros-servicios {
  color: #111; }

.nuestros-servicios figure i {
  font-size: 4rem;
  color: #F05F40; }

.nuestros-servicios h3 {
  font-weight: 700;
  -webkit-font-kerning: 1;
          font-kerning: 1; }

.nuestros-servicios p {
  font-size: 1.1rem; }

.ultimos-proyectos {
  background: #424141; }

footer {
  background: #222222; }

/*# sourceMappingURL=custom.css.map */