/*  Azul claro: #2196F3
	Azul oscuro: #233D58;
	Naranja: #FF9800 */

a, area, button, [role="button"], input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.bold {
    font-weight: bold;
}

.collapse, .hide-sm, .hide-md-eleccion {
    display: none;
}

.collapse.in {
    display: block;
}

#inicio{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: url('../img/bg.jpg') no-repeat center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	height: 90vh
}

	#inicio header{
		background: #2196F3;
		padding: .3em 0;
		-webkit-transition: all .5s ease;
    	transition: all .5s ease;
	}

		#inicio header.fondo-menu{
			background: #233D58;
		    padding: 1rem 0;
		}

	#inicio header .container{
		-webkit-display: flex;
		-moz-display: flex;
		-ms-display: flex;
		-o-display: flex;
		display: flex;
		-webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
		font-size: 1.5em;
	}

		.logo a{
			vertical-align: middle;
			text-decoration: none;
			color: white;
			font-weight: bolder;
		}

		.logo i{
			padding-right: .2em
		}

		.search, .menu{
		    padding: 0 .5rem;
		    color: white;
		    cursor: pointer;
		}

		.search{
			margin-left: auto;
    		margin-right: .8rem;
		}

			/*.search:hover, .menu:hover, .logo a:hover{
				color:#2196F3
			}*/

	#bloque-buscar {
	    -webkit-box-flex: 1;
	    -webkit-flex: 1 1 100%;
	    -ms-flex: 1 1 100%;
	    flex: 1 1 100%;
	}

	.contenedor-bloque-buscar{
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    height: 3rem;
	    margin: 1rem 0;
	    font-size: .8rem;
	}

		.contenedor-bloque-buscar input[type="text"] {
		    border: 0;
		    border-radius: 5px 0 0 5px;
		    padding: 1rem;
		    -webkit-box-flex: 1;
		    -webkit-flex: 1 1 auto;
		    -ms-flex: 1 1 auto;
		    flex: 1 1 auto;
		}

		.contenedor-bloque-buscar input[type="submit"] {
		    -webkit-box-flex: 1;
		    -webkit-flex: 1 1 auto;
		    -ms-flex: 1 1 auto;
		    flex: 1 1 auto;
		    border: 0;
		    border-radius: 0 5px 5px 0;
		    background: #FF9800;
		    color: #fff;
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 1 auto;
		    -ms-flex: 0 1 auto;
		    flex: 0 1 auto;
		    padding: 0 1rem;
		}

	#menu{
	    -webkit-box-flex: 1;
	    -webkit-flex: 1 1 100%;
	    -ms-flex: 1 1 100%;
	    flex: 1 1 100%;
	}

	#menu ul{
		padding: 0;
	    list-style: none;
	    margin: 1rem 0 0 0;;
	}

		#menu ul li{
			display: block;
			list-style-type: none;
			text-align: center;
		}

		#menu ul li a {
		    display: block;
		    font-size: .99rem;
		    padding: .8rem 0;
		    text-align: center;
		    color: #fff;
		    text-transform: uppercase;
		    /*border-top: 1px solid #111;*/
		    text-decoration: none;
		}
		
		#menu ul li a:hover, #menu ul li.active a{
			border-top: 1px solid white;
			border-bottom: 1px solid white; 
			color: white
		}

	#inicio-text{
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;.
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		color: white
	}

		#inicio-text .display-4{
			text-shadow: 0px 0px 10px black;
			font-weight: 400;
			margin-top: 4rem;
			line-height: 60px;
		}

		#inicio-text .btn-orange{
			text-decoration: none;
			color: white;
			background: #FF9800;
			padding: .8rem 3rem;
		}

#agencia{
	padding-top: 70px;
	padding-bottom: 3rem;
	background: #FF9800;
	color: white;
}

	#agencia .container img{
		display: block;
		width: 100%;
		margin: 0 auto;
	}


#eleccion h3 {
    font-weight: bold;
}

#eleccion h3 span {
    color: #2196F3;
}

#eleccion ul{
	list-style-type: none;
}

	#eleccion ul li{
		min-height: 9rem;
	}

	#eleccion ul li .fa{
		font-size: 2.3rem;
	    background: #2196F3;
	    border-radius: 50%;
	    width: 4.7rem;
	    height: 4.7rem;
	    line-height: 4.7rem;
	    color: #fff;
	}

#eleccion h4{
	font-size: 1.2rem;
    font-weight: bold;
    margin-top: .8rem;
}

#servicios{
	background: url('../img/bg2.jpg') no-repeat center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

	#servicios h2{
		color: white
	}

	#servicios article{
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    margin: 1rem 0;
	}

	#servicios article i{
		font-size: 2rem;
	    background: #FF9800;
	    border-radius: 50%;
	    width: 4rem;
	    height: 4rem;
	    line-height: 4rem;
	    color: #fff;
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 65px;
	    -ms-flex: 0 0 65px;
	    flex: 0 0 65px;
	    -webkit-transition: all 1s ease;
		transition: all 1s ease;
	}

		#servicios article:hover i {
		    -webkit-transform: rotateY(360deg);
		    transform: rotateY(360deg);
		    -webkit-transform-style: preserve-3d;
		    transform-style: preserve-3d;
		}

	#servicios h3 a {
		font-size: 1.1rem;
		color: #fff;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		text-decoration: none;
	}

		#servicios h3 a:after{
			content: "\f105";
			font-family: 'Font Awesome 5 Free';
			font-size: 2.5rem;
			font-weight: 900;
			margin-left: 1rem;
			opacity: .8;
			position: absolute;
			right: .5rem;
			transition-duration: 0.5s
		}

		#servicios h3 a:hover:after {
			-webkit-transform: translateX(-10px);
		    transform: translateX(-10px);
		    opacity: 1;
		    color: #FF9800;
		}

#galeria img{
	display: block;
	margin: 0 auto
}

footer{
	background: #111;
	font-size: .9rem;
	text-align: center;
	color: white;
	margin: 0
}

	footer ul{
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		list-style-type: none
	}

		footer ul li {
			font-size: 1.5em;
			padding: 0 .5em
		}

			footer ul li a{
				opacity: 0.5;
				color: white
			}

				footer ul li a:hover{
					opacity: 1;
					color: white
				}

.ir-arriba{
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 3rem;
	color: #FF9800;
	text-decoration: none;
	z-index: 999;
	line-height: 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	background: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	display: none;
}

	.ir-arriba i:hover{color: #2196F3}

.ir-abajo{
	text-align: center;
	font-size: 3em;
}

.ir-abajo a{
	display: block;
	color: white;
	-webkit-animation: flecha-animada 2s ease-in-out infinite;
	animation: flecha-animada 2s ease-in-out infinite;
}

@-webkit-keyframes flecha-animada{
	from{
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
	50%{
		-webkit-transform:translateY(6px);
		transform:translateY(6px)
	}
	to{
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}

@keyframes flecha-animada{
	from{
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
	50%{
		-webkit-transform:translateY(6px);
		transform:translateY(6px)
	}

	to{
	-webkit-transform:translateY(0);
	transform:translateY(0)
	}
}

/* ============================================ */
/* Responsive */
/* ============================================ */

@media (min-width: 768px) {

	.hide-md {
	    display: none !important;
	}

	.hide-sm {
	    display: block;
	}

	.search{
		margin-left: 1rem;
		margin-right: 0px;
		order: 2;
	}

		#bloque-buscar {
		    -webkit-box-ordinal-group: 4;
		    -webkit-order: 3;
		    -ms-flex-order: 3;
		    order: 3;
		    position: absolute;
		    top: 2.8rem;
		    width: 20rem;
		    right: 3rem;
		    -webkit-transition: all .5s ease;
		    transition: all .5s ease;
		}

		.contenedor-bloque-buscar{
		    font-size: 1rem;
		}

	#menu{
		display: block;
		-webkit-box-flex: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		margin-left: auto;
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1
	}

		#menu ul{
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			margin: 0
		}

		#menu ul li{
			list-style-type: none
		}

		#menu ul li a{
			font-size: 1rem;
			padding:.8rem;
			text-transform: capitalize;
			margin: 0 .3rem;
			border-top: 0;
			border-bottom:4px solid transparent;
			-webkit-transition: all .5s ease;
    		transition: all .5s ease;
		}
		#menu ul li a:hover, #menu ul li.active a{
			border-top: 0;
			border-bottom: 4px solid
		}

	#agencia h3{
		text-align: initial !important;
	}



	#servicios article{
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}

	#servicios article i {
		font-size: 4rem;
		width: 10rem;
	    line-height: 10rem;
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 160px;
	    -ms-flex: 0 0 160px;
	    flex: 0 0 160px;
	    margin-right: 0;
	    margin-bottom: 1rem;
	}

	#servicios h3{
		text-align: center;
		margin: .5rem 0
	}

		#servicios h3 a{
			font-size: 1.5rem
		}
	
		#servicios h3 a:after {
		    display: none
		}

	#servicios p{
		text-align: center;
		color: white;
		margin: .5rem 0
	}

	#servicios .btn {
	    margin-top: auto;
	}
}

@media (min-width: 992px) {
	.hide-md-eleccion{
		display: block !important
	}

	#inicio{
		height: 100vh
	}

	#eleccion ul li{
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    min-height: 7rem;
	}

	#eleccion ul:first-child .fa{
		-webkit-box-ordinal-group: 2;
	    -webkit-order: 1;
	    -ms-flex-order: 1;
	    order: 1;
	    margin-left: 1rem;
	    margin-right: 0;
	}

	#eleccion ul li .fa{
		text-align: center;
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 1 auto;
	    -ms-flex: 0 1 auto;
	    flex: 0 1 auto;
	    margin-right: 1rem;
	}

	.content-eleccion {
	    -webkit-box-flex: 1;
	    -webkit-flex: 1 0 0px;
	    -ms-flex: 1 0 0px;
	    flex: 1 0 0px;
	}

	#eleccion h4{
		margin-top: 0;
    	font-size: 1rem;
	}

	#eleccion ul li p{
		font-size: .8rem;
	}

	.text-align-right{
		text-align: right!important;
	}

	.text-align-left {
    	text-align: left!important;
	}


}

/* http://www.aulaideal.com/bootstrap4/index.html */		