@import url('nexa.css');

body {
	font-family: 'Roboto', sans-serif;
	background-color: #414141
}

.wrapper{
	background-color: #fff
}

.animation{
	background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
	-webkit-animation: hue 60s infinite linear;
	-moz-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
	from {
	  -webkit-filter: hue-rotate(0deg);
	  -moz-filter: hue-rotate(0deg);
	}
  
	to {
	  -webkit-filter: hue-rotate(-360deg);
	  -moz-filter: hue-rotate(-360deg);
	}
  }

  @-moz-keyframes hue {
	from {
	  -webkit-filter: hue-rotate(0deg);
	  -moz-filter: hue-rotate(0deg);
	}
  
	to {
	  -webkit-filter: hue-rotate(-360deg);
	  -moz-filter: hue-rotate(-360deg);
	}
  }

header > svg{
	cursor: pointer;
}

header .logo{
	font-family: 'Nexa_Free_Bold', sans-serif;
	font-size: 20pt;
	margin-left: 15px;
	color: black;
}

	header .logo:hover, #portafolio ul li a:hover{
		text-decoration: none;
	}


.navbar{
	padding: .5rem 0;
	border-bottom: 1px solid #111
}

.fade:not(.show) {
    display: none !important;
}

::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-track {
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
}

#menu-responsive{
	width: 100%;
}

nav ul{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

	nav ul li {
		margin: 0;
	}

	nav ul li svg{
		margin-right: 10px;
		stroke-width: 1.5
	}

	nav ul li a{
		display: flex;
		-ms-align-items: center;
		align-items: center;
		padding: .9rem 1.5rem;
		color: black;
		font-size: .8em;
		font-weight: bold;
	}

		nav ul li a:hover{
			text-decoration: none;
			color: white
		}

		nav ul a.active, nav ul li:hover, #portafolio ul li:hover{
			background: #2196F3;
			color: white
		}

	#perfil .image, #perfil .aboutme{
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1 1 0;
	}

	.image .cuadroPadre .cuadro{
		display: none
	}

	.image .image-perfil{
		background: url('../img/perfil.jpg');
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 250px;
		margin-bottom: 10px
	}

	.image h1{
		font-family: 'Nexa_Free_Bold', sans-serif;
		text-transform: uppercase;
		font-size: 2rem;
		text-align: center;
	}

	.image span{
		display: block;
		font-size: 1.2rem;
	}

	.aboutme ul{
		padding: 0;
		list-style-type: none;
		width: 250px
	}
	
		.aboutme ul li{
			display: flex;
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			-o-flex-wrap: wrap;
			flex-wrap: wrap;
			-ms-align-items: center;
			align-items: center;
			margin-bottom: 15px;
		}

		.aboutme ul li strong{
			margin-right: 10px;
		}

		.aboutme ul li svg{
			stroke-width: 1.5;
			margin-right: 10px;
			padding: .1rem;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			-ms-border-radius: 100%;
			-o-border-radius: 100%;
			border-radius: 100%;
			border: 1px solid black
		}

#portafolio{
	width: 100%
}

#portafolio ul{
	padding: 0;
	margin: 8px 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

	#portafolio ul li{
		display: inline-block;
		
		font-weight: bold;
		font-size: .8em;
	}

		#portafolio ul li a{
			color: black;
			padding: .3rem .8rem;
			transition-duration: .5s
		}
			#portafolio ul li a:hover{
				color: white
			}

			#portafolio .categoria.active{
				background: #2196F3;
				color: white
			}

	#portafolio .gallery, #resumen .empleo-scroll{
		width: 100%;
		overflow-y: scroll;
	}

	#portafolio .gallery{
		display: flex;
	   	flex-wrap: wrap;
	   	justify-content: space-around;
	   	padding-top: 10px;
	}

		#portafolio .gallery-item{
		    width: 280px;
		    height: 250px;
		    margin-bottom: 10px;
		    background: white;
		    box-shadow: 0px 0px 8px rgba(0,0,0,.2);
		    overflow: hidden;
		    border-radius: .25rem;
		    transition-duration: .3s;
		}

			/*#portafolio .gallery-item:hover{
				background: rgba(33,150,243,.8);
				color: #fff
			}

				#portafolio .gallery-item:hover .imagen{
					display: none
				}*/

				#portafolio .gallery-item:hover .contenedor{
					top: -100%;
				}

		.gallery::-webkit-scrollbar-track, #resumen .empleo-scroll::-webkit-scrollbar-track {
		    background-color: #fff;
		}

		.gallery::-webkit-scrollbar, #resumen .empleo-scroll::-webkit-scrollbar {
		    width: 5px;
		    background-color: #fff;
		}

		.gallery::-webkit-scrollbar-thumb, #resumen .empleo-scroll::-webkit-scrollbar-thumb {
		    background-color: #2196F3;
		    border-top-left-radius: 5px;
		    border-top-right-radius: 5px;
		    border-bottom-left-radius: 5px;
		    border-bottom-right-radius: 5px
		}

		#portafolio .gallery .imagen{
			width: 100%;
		    height: 100%;
		    display: flex;
		    flex-direction: column;
		    -ms-align-items: center;
		    align-items: center;
		    justify-content: center;
		}

			#portafolio .gallery .imagen-titulo{
				display: flex;
				justify-content: center;
				-ms-align-items: center;
				align-items: center;
				flex: 3 1 0;
			}

			#portafolio .gallery .imagen h5{
				font-size: 2rem;
				margin-bottom: 1rem
			}

			#portafolio .gallery .imagen h5 span{
				color:#D21B1B;
				font-weight: 700;
			}

			#portafolio .gallery .imagen img{
				max-width: 100%;
				padding: 10px
			}

			#portafolio .gallery svg{
				flex: 1 1 0;
				animation: arriba 2s ease infinite
			}

				@keyframes arriba{
					0%, 100%{
						transform: translateY(0px);
					}
					50%{
						transform: translateY(10px)
					}
				}

		#portafolio .gallery .contenedor{
			display: flex;
			justify-content: center;
			-ms-align-items: center !important;
			align-items: center !important;
			flex-direction: column;
			height: 100%;
			position: relative;
    		top: 0;
    		background: #2196F3;
    		color: white;
    		transition-duration: .6s
		}

			#portafolio .gallery .contenedor p{
				padding: 0 20px;
				line-height: 1.2;
				text-align: center;
			}

			#portafolio .gallery .contenedor a{
				color: white;
				cursor: pointer;
				font-weight: bold;
				text-transform: uppercase;
			}

			.opacity-0{
				opacity: 0
			}

	#social-lg{
		display: none;
	}
	
	#social-mx{
		display: flex;
		justify-content: center;
	}

	.social a{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		margin: 10px;
		margin-bottom: 0px;
		width: 35px;
		height: 35px;
		border: 1px solid black;
		border-radius: 50%;
		color: black;
		background: white;
		transition-duration: .3s 
	}

	.social svg{
		height: 35px;
		stroke-width: 1.6;
	}

#contacto{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

	.form-master{
		width: 100%
	}

		.form-master form > div {
			position: relative;
		}

		.form-master input, .form-master textarea{
			display: block;
			color: black;
			border:1px solid black;
			border-radius: 0;
			margin-bottom: 10px
		}

		.form-master textarea{
			min-height: 200px
		}

		.form-master button[type="submit"]{
			background: black;
			color: white;
			border-radius: 2rem;
    		padding: .2rem 2rem;
    		font-weight: bold;
    		transition-duration: .3s
		}

			.form-master button:hover, .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
				background: #2196F3;
				color: white
			}

			.form-master input:hover, .form-master textarea:hover{
				border-color: #2196F3;
			}

		.form-control:focus, .form-master button:focus {
		    color: black;
		    border-color: #2196F3;
		    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
		}

			.form-master button:focus{
				color: white
			}

		label{
			color: #000
		}

		.error{
			position: absolute;
		    top: 2px;
    		right: 3px;
		    padding: .5rem;
		    margin-top: .1rem;
		    font-size: .875rem;
		    line-height: 1;
		    color: white;
		    background-color: rgba(220,53,69,.8);
		    border-radius: .2rem;		    
		}
		/*.error:before{
		    border-color: transparent #BC1010 transparent transparent;
		    border-style: solid;
		    border-width: 6px 8px;
		    content: "";
		    display: block;
		    height: 0;
		    left: -16px;
		    position: absolute;
		    top: 8px;
		    width: 0;
		}*/
		.result_fail{
		    background: none repeat scroll 0 0 #BC1010;
		    border-radius: 20px 20px 20px 20px;
		    color: white;
		    font-weight: bold;
		    padding: 10px 20px;
		    text-align: center;
		}
		.result_ok{
		    background: none repeat scroll 0 0 #1EA700;
		    border-radius: 20px 20px 20px 20px;
		    color: white;
		    font-weight: bold;
		    padding: 10px 20px;
		    text-align: center;
		}

		#contact_enviado{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background: #2196F3;
			z-index: 999
		}

			#contact_enviado .enviado{
				display: flex;
				flex-direction: column;
				justify-content: center;
				-ms-align-items: center;
				align-items: center;
				width: 100%;
				height: 100vh;
			}

			#contact_enviado p, #contact_enviado h4{
				color: white;
				padding: 0 35px
			}

			#contact_enviado svg{
				stroke: white
			}

	#resumen{
		display: flex;
		-ms-align-items: center;
		align-items: center;
		flex: 1 1 0;
	}

	#resumen .row{
		margin: 0;
	}

		#resumen .educacion, #resumen .empleo,
		#resumen .skills, #resumen .certificados{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		#resumen .educacion, #resumen .empleo{
			margin-bottom: 1.5rem;
		}


			#resumen .educacion-titulo, .empleo-titulo,
			.skills-titulo, .certificados-titulo{
				display: flex;
				margin-bottom: 8px;
			}

				#resumen .educacion-titulo svg, .empleo-titulo svg,
				.skills-titulo svg, .certificados-titulo svg{
					margin-right: 10px
				}

			#resumen .educacion ul, .empleo ul,
			.skills ul, .certificados ul{
				padding-left: 10px;
				margin-right: 15px;
				margin-bottom: 0px;
				list-style-type: none;
			}

				#resumen .skills ul li{
					margin-bottom: 10px
				}

				#resumen .educacion .educacion-instituto, .empleo .empleo-instituto,
				.skills .skills-instituto, .certificados .certificados-instituto{
					display: flex;
					justify-content: space-between;
					margin-bottom: -6px;
				}

					#resumen .skills-instituto{
						margin-bottom: 8px;
					}

				#resumen .educacion ul li h5, .empleo ul li h5,
				.skills ul li h5, .certificados ul li h5{
					margin-bottom: 0;
					font-size: .9rem;
					font-weight: bold;
					max-width: 155px
				}

					#resumen .educacion .educacion-instituto .educacion-fecha, .empleo .empleo-instituto .empleo-fecha,
					.skills .skills-instituto .skills-fecha, .certificados .certificados-instituto .certificados-fecha{
						font-size: .8rem;
					}

				#resumen .educacion ul li span, .empleo ul li span,
				.skills ul li span, .certificados ul li span{
					font-size: .7rem;
					font-weight: bold
				}

				#resumen .educacion ul li p, .empleo ul li p,
				.certificados ul li p {
					font-size: .8rem;
					margin-bottom: 10px;
				}

					#resumen .certificados ul li p{
						margin-top: 5px;
					}

		#resumen .skills .progress{
			margin: 0px;
			margin-bottom: 8px;
			background-color: #BDBDBD;
			border-radius: 1rem;
			height: .4rem;
		}

			#resumen .skills .progress-bar{
				background-color: #2196F3;
				border-radius: 1rem;
			}

#servicios{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin: 10px 0;
}

	#servicios .contenedor-servicios{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

		#servicios .contenedor-servicios > div {
			width: 280px;
			height: 250px;
			margin-bottom: 10px;
		}

		#servicios .contenedor-servicios .card{
			justify-content: center;
			align-items: center;
			box-shadow: 0px 0px 8px rgba(0,0,0,.2);
			transition-duration: .3s;
		}

		#servicios .contenedor-servicios .card .card-descripcion{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		#servicios .contenedor-servicios .card .icon{
			display: none;
		}

		#servicios .contenedor-servicios .card svg{
			stroke: white;
			width: 35px;
			height: 35px
		}

		#servicios .contenedor-servicios .card p{
			padding: 0 30px;
			line-height: 1.2;
			color: #868686
		}

		.card-text{
			margin-bottom: 0;
		}

			#servicios .contenedor-servicios .card p:nth-child(3){
				margin-top: 2px;
				font-size: .8rem;
			}

		/*#servicios .contenedor-servicios .card .card-tapa{
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(33,150,243,.95);
			color: white;
			border-radius: .25rem;
			opacity: 0;
			transition-duration: .3s
		}

			#servicios .contenedor-servicios .card .card-tapa:hover{
				opacity: 1;
			}

		#servicios .contenedor-servicios .card .card-tapa,
		#servicios .contenedor-servicios .card .card-descripcion{
			display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center
		}*/

@media (min-width: 768px) {

	.hidden-md{
		display: none
	}

	.show-md{
		display: block !important;
	}

	.wrapper{
		min-height: 90vh;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	section {
		display: flex;
		flex-grow: 1;
	}

	header{
		padding: 0 !important;

	}

	.navbar{
		flex-grow: 0;
		border-bottom: 0
	}

	.nav-tabs{
		border-bottom: none
	}

	#menu-responsive{
		width: 73%;
	}

	nav ul{
		flex-direction: row;
		justify-content: flex-end;
	}

		nav ul li svg{
			margin-right: 0px;
		}

		nav ul li a{
			display: flex;
			flex-direction: column;
			justify-content: center;
			-ms-align-items: center;
			align-items: center;
			padding: .9rem 1.2rem;
		}

	#perfil{
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}

		.image .cuadroPadre{
			position: absolute;
			width: 30%;
		}

		.image .cuadro{
			display: block !important;
			position: relative;
			left: 20px;
			width: 268px;
			height: 402px;
			background: transparent;
			border: 5px solid black;
			transform-origin: center;
			-webkit-transform: rotate(3deg);
			-ms-transform: rotate(3deg);
			-o-transform: rotate(3deg);
			transform: rotate(3deg);
			z-index: 10
		}

		.image .image-perfil{
			width: 90%;
			height: 400px;
			margin: 0 auto;
		}

		.aboutme{
			padding-left: 20px
		}

		.aboutme span{
			display: block;
			font-size: 1.2rem;
		}

		.aboutme ul{
			width: auto;
		}
		
			.aboutme ul li{
				margin-bottom: 8px
			}

			.aboutme ul li strong{
				margin-right: 5px;
			}

			.aboutme ul li svg{
				margin-right: 5px;
			}

		.aboutme p{
			padding-right: 20px;
		}

	#portafolio{
		display: flex;
	    -ms-align-items: center;
	    align-items: center;
	}

	#contacto .image{
		flex: 1 1 0;
	}

	#contacto .form-master{
		flex: 1 1 0;
	}

	#resumen .educacion, #resumen .empleo,
	#resumen .skills, #resumen .certificados{
		width: 50%;
	}

	#resumen .educacion, #resumen .empleo{
		margin-bottom: initial;
	}

		#resumen .skills{
			order: -1;
		}

			#resumen .educacion, #resumen .certificados{
				-ms-align-self: flex-start;
				align-self: flex-start;
			}

			/*#resumen .skills, #resumen .certificados{
				-ms-align-self: flex-start;
				align-self: flex-start;
			}*/

	#resumen .educacion ul, .empleo ul, 
	.skills ul, .certificados ul{
		padding-left: 30px;
	}

		#resumen .educacion ul li h5, .empleo ul li h5,
		.skills ul li h5, .certificados ul li h5{
			max-width: initial
		}

		#resumen .educacion ul li i, .empleo ul li i,
		.skills ul li i, .certificados ul li i{
			width: 10px;
			position: absolute;
		}

			#resumen .educacion ul li i.icon:after, .empleo ul li i.icon:after,
			.skills ul li i.icon:after, .certificados ul li i.icon:after{
				content: url("../img/circle.svg");
				position: relative;
				left: -16px;
				top: -4px
			}

			#resumen .educacion ul li i.icon::before, .empleo ul li i.icon::before,
			.skills ul li i.icon::before, .certificados ul li i.icon::before{
				content: '';
				position: absolute;
				top: 10px;
			    left: -12px;
				border-style: solid;
			    border-width: 80px 0px 0px 2px;
				border-color: #000;
			}

				#resumen .skills ul li i.icon:before{
					top: -20px
				}

				#resumen .educacion ul li:nth-child(3) i.icon::before, .empleo ul li:nth-child(2) i.icon::before,
				.skills ul li:nth-child(5) i.icon::before{
				    border-width: 45px 0px 0px 2px;
				}

					.certificados ul li:nth-child(1) i.icon::before{
					    border-width: 120px 0px 0px 2px;
					}

		#resumen .empleo-scroll{
			height: 180px;
		}

	#servicios .contenedor-servicios .card .icon{
		background: black;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		width: 65px;
		height: 65px;
		border-radius: 50%;
		margin-bottom: 10px;
		transition-duration: 5s
	}

	#servicios .contenedor-servicios .card:hover{
		background: rgba(33,150,243,.8);
		color: #fff
	}

	#servicios .contenedor-servicios .card:hover p{
		display: block;
		color: #fff
	}

	#servicios .contenedor-servicios .card:hover .icon{
		display: none;
	}    

	#servicios .contenedor-servicios .card:hover h5{
		display: none;
	}

	#servicios .contenedor-servicios .card p{
		display: none;
	}

}

@media (min-width: 992px) {

	body {
		display: flex;
		align-items: center;
		height: 100vh;
	}

	.container{
		max-width: 960px;
	}

	.wrapper{
		box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
		-webkit-border-radius: .3rem;
		-moz-border-radius: .3rem;
		-ms-border-radius: .3rem;
		-o-border-radius: .3rem;
		border-radius: .3rem;
		display: flex;
		flex-direction: column;
		min-height: 80vh;
	}

	#menu-responsive{
		width: 80%;
	}

	.image .cuadro{
		width: 386px;
	}

	#social-mx{
		display: none;
	}

	#social-lg{
		display: flex;
		flex-direction: column;
		position: absolute;
		z-index: 10;
		margin-left: 20px
	}

	.social a{
		display: flex;
	}

		.social a:hover{
			border: none;
			background: #2196F3;
			transform: translateX(10px);
		}

	.social svg:hover{
		stroke: white
	}

	#contacto .form-master{
		padding-right: 3rem;
	}

	#servicios .contenedor-servicios > div:nth-child(4), #servicios .contenedor-servicios > div:nth-child(5),
	#servicios .contenedor-servicios > div:nth-child(6){
		margin-bottom: 0;
	}

}

/* ANIMACIONES */
#resumen .animated{
	animation-duration: 1s;
}

.adl-1 {
  animation-delay: .5s;
}

.adl-2 {
  animation-delay: 1s;
}

.adl-3 {
  animation-delay: 1.5s;
}

.adl-4 {
  animation-delay: 2s;
}

.adl-5 {
  animation-delay: 2.5s;
}

.adm-1 {
  animation-delay: .7s;
}

.adm-2 {
  animation-delay: 1.2s;
}

.adm-3 {
  animation-delay: 1.7s;
}

.adm-4 {
  animation-delay: 2.2s;
}

.adm-5 {
  animation-delay: 2.7s;
}


/*https://www.behance.net/gallery/65008945/Pencil-A-Fresh-Virtual-Business-Card-CVResume-PSD*/